<h1>Recipes list</h1>
<div class="row">
  <div class="span12" align="right">
    <%= link_to "New recipe", new_recipe_path,
                                class: "btn btn-primary" %>
  </div>
</div>
<br />
<table class="table table-bordered table-striped">
  <tr class="header">
      <th>Title recipe</th>
      <th>Image recipe</th>
      <th><%= image_tag("personen.png", size: "40") %></th>
      <th><%= image_tag("tijd.png", size: "40") %></th>
      <th>Actions</th>
  </tr>
  <% @recipes.each do |recipe| %>
  <tr>
    <td><%= link_to recipe.title, recipe %></td>
    <td><%= image_tag recipe.recipe_image.url(:thumb) %></td>
    <td><%= recipe.number_of_persons %> personen</td>
    <td><%= recipe.cooking_time %> minuten</td>
    <td><%= link_to("Edit", edit_recipe_path(:id => recipe.id)) %> | 
      <%= link_to "Delete", recipe, method: :delete,
                                data: { confirm: "You sure?" } %>
    </td>
  </tr> 
  <% end %>
</table>
