<h1>New recipe</h1>

<div class="row">
  <div class="span8 offset2" align="center">
    <%= form_for(@recipe) do |f| %>
      
      <%= f.label :title %>
      <%= f.text_field :title %>
      
      <%= f.label :number_of_persons %>
      <%= f.text_field :number_of_persons %>
      
      <%= f.label :cooking_time %>
      <%= f.text_field :cooking_time %>
      
      <%= f.label :directions %>
      <%= f.text_area :directions %>

      <%= f.submit "Create new recipe", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>